.active__reviews {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  pointer-events: unset;
}

.active__switcher {
  border: rem(4px) solid #E01F3D;
  border-radius: 50%;
}