.choice{
 
  display: flex;
  align-items: center;
  @include tablets{
    position: relative;
    display: flex;
    flex-direction: column;

    &::before{
      content: url(./../../img/head__small.png);

    }
  }
  
}

.choice__main{
  display: flex;
  justify-content: space-between;
  @include tablets{
    flex-direction: column;
  }
  
}

.choise__img{
  width: 50%;

  @include tablets{
    display: none;
  }
}


.choice__arrow{
  width: 14px;

  @include tablets{
    position: absolute;
    top: 19%;
  }

  &--left {
    left: 20%;
  }
  
  &--right {
    right: 20%;
  }

  @include tablets{
    position: absolute;
    top: 19%;
  }

  &--left {
    left: 0;
  }
  
  &--right {
    right: 0;
  }
}

.choice__dropdown {
  background-color: #9A9A9A;
  padding: rem(24px);
  width: rem(91px);
  border-radius: rem(4px);
  margin-bottom: rem(24px);
}

.choice__text{
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: rem(36px);
  line-height: rem(42px);
  margin-bottom: rem(24px);
  @include tablets{
    text-align: center;
  }
}


.choice__subtitle-text{
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #666666;  
  margin-bottom: rem(27px);
  @include tablets{
    text-align: center;
  }

}

.choice__feature{
  display: flex;
  margin-bottom: rem(24px);
  &:last-child{
    margin-bottom:rem( 0px);
  }
  
  @include tablets{
    align-items: center;
    justify-content: center;
  }
}

.choice__feature--text{
  margin-right: rem(86px);
  &:last-child{
    margin-right:rem( 0px);
  }
}

.choice__name{
  color: #666666;
  font-size: rem(16px);
  line-height: rem(19px);
}

.choice__desc{
  font-style: normal;
  font-weight: bold;
  font-size: rem(18px);
  line-height: rem(21px);
}

.choice__feature-price{
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: rem(36px);
  line-height: rem(60px);
  margin-right: rem(13px);
}

.choice__dropdowns {
  position: relative;
}

.choice__dropdown{
  display: flex;

  &:hover {
    + .choice__dropdown-item {
      visibility: visible;
      opacity: 1;
    }
  }

  @include tablets{
    display: none;
  }
}

.choice__dropdown-item{
  display: flex;
  flex-direction: column;
  text-align: left;
  position: absolute;
  left: rem(91px);
  padding: rem(28px) rem(34px) rem(30px) rem(25px);
  background: #EDEDED;
  color: #1E1F20;
  top:rem( 0px);
  visibility: hidden; 
  opacity: 0;
  transition: opacity 0.4s ease;
  border-radius:rem( 5px);
  font-size: rem(13px);
  line-height: rem(21px);
  &:hover {

      visibility: visible;
      opacity: 1;
  }
}


////////////////////////////////////////////////////////
.dropdown__elim{
  display: flex;
  justify-content: space-between;
  width: rem(237px);
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: rem(16px);
  line-height: rem(24px);
  margin-bottom: rem(12px);

  &:last-child{
    margin-bottom:rem( 0px);
  }
}


.dropdown__item{
  display: flex;
  &--img{
    margin-right:rem( 4px);
  }

}


.dropdown__item-img{
  width: rem(13px);
  margin-right: rem(18px);
}