.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(100px);
}

.header__menu{
  display:flex;
}

.header__logo{
  margin-right: rem(-42px);
}

.header__address{
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: rem(18px);
  line-height: rem(18px);
  &::before{
    content: url(../../icon/Vector.png)
  }

  @include tablets{
    &::before{
      display: none;
    }
  }

}

 .header__contact-phone{
  @include tablets{
    display: none;
  }
}




.contact__phone{
  text-decoration: none;
}


.menu{
  @include tablets{
    display: none;
  }
}

.menu__list{
  display: flex;
}

.menu__item{
  font-size: rem(18px);
  line-height: rem(30px);
  margin-right: rem(27px);

  &:last-child{
    margin-right: 0;
  }
}



