.interaktive-avatar{
  width: rem(74px);
  height: rem(74px);
  margin-right: rem(7px);

  @include tablets{
    width: rem(74px);
  height: rem(74px);
  }


  &:last-child{
    margin-right: 0;
  }
  
}

.interaktive-avatar__img{
  width: 100%;
  height: 100%;
  
  border-radius: 50%;
  &:hover{
    border: rem(4px) solid #E01F3D;
  }
}