
.section {
  height: 100vh;
  min-height: rem(650px);

  &--hero {
    background-color: $gray;
    padding: rem(25px) 0 rem(65px);
    position: relative;

    &::after{
      content:'';
      position: absolute;
      width: rem(15px);
      height: rem(38px);
      background: #C4C4C4;
      transform: rotate(-45deg);
      right: 22%;
      bottom: 0;
    }
  }

  &--offers {
    display: flex;
    align-items: center;
    padding: rem(100px) 0;

    .section {
      &__top {
        margin-bottom: rem(57px);
      }
    }
  }

  &--reviews{
    display: flex;
    align-items: center;
    padding: rem(64px) 0;
  }

  &--order{
    display: flex;
    align-items: center;
    background:url(./../img/background__form.png) center center/cover no-repeat;
    color: #fff;
  }
}

.section__top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(50px);
}

.section__title{
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: rem(48px);
  line-height: rem(52px);
  text-align: center;
  margin-bottom: rem(24px);
}


.section__subtitle{
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #666666;
  text-align: center;
  max-width: rem(590px);
 
}
